body {
    height: 98vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons {
    width: 100%;
    display: flex;
    justify-content: center;
}

button {
    height: 400px;
    width: 400px;
    margin: 16px;
    color: white;
}

#red {
    background-color: red;
}

#blue {
    background-color: blue;
}

#green {
    background-color: green;
}

#random {
    background-color: brown;
}